.flex-container {
    display: flex;
    display: -webkit-flex;

    &.flew-container-inline { display: inline-flex; }

    &.flew-direction-row { flex-direction: row; -webkit-flex-direction: row;}
    &.flew-direction-row-reverse { flex-direction: row-reverse; }
    &.flew-direction-column { flex-direction: column; -webkit-flex-direction: column; }
    &.flew-direction-column-reverse { flex-direction: column-reverse; }

    &.flex-nowrap { flex-wrap: nowrap; -webkit-flex-wrap: nowrap; }
    &.flex-wrap { flex-wrap: wrap; -webkit-flex-wrap: wrap;}
    &.flex-wrap-reverse { flex-wrap: wrap-reverse; }

    &.flex-justify-content-flex-start { justify-content: flex-start; -webkit-justify-content: flex-start;}
    &.flex-justify-content-flex-end { justify-content: flex-end; -webkit-justify-content: flex-end;}
    &.flex-justify-content-center { justify-content: center; -webkit-justify-content: center;}
    &.flex-justify-content-space-between { justify-content: space-between; -webkit-justify-content: space-between}
    &.flex-justify-content-space-around { justify-content: space-around; -webkit-justify-content: space-around;}

    &.flex-align-items-flex-start { align-items: flex-start; -webkit-align-items: flex-start;}
    &.flex-align-items-flex-end { align-items: flex-end; -webkit-align-items: flex-end;}
    &.flex-align-items-center { align-items: center; -webkit-align-items: center;}
    &.flex-align-items-baseline { align-items: baseline; -webkit-align-items: baseline;}
    &.flex-align-items-stretch { align-items: stretch; -webkit-align-items: strech;}

    &.flex-align-self-center { align-self: center; -webkit-align-self: center;}
    &.flex-align-self-flex-end { align-self: flex-end; -webkit-align-self: end;}

    > .flex1 { flex: 1; }

    > .flex-item {
        flex-grow: 1;
    }
}