@import "variables.scss";
@import "flex.scss";
@import "header.scss";
@import "content.scss";
@import "footer.scss";

/*@font-face {
*    font-family: ;
*    src: url() ;
}*/

.theme-a-link {
    color: $grey-color;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}

body {
    width: 100%;
}

*, *:active, *:focus {
    outline: none;
}