$primary-color: #000;
$secondary-color: #fff;
$primary-background-color: #000;
$red-color: #ff5f69;
$green-color: #50ffce;
$blue-color: #00dcea;
$grey-color: darken(#fff, 50%);

.red-color {
    color: $red-color;
}
.green-color {
    color: $green-color;
}
.blue-color {
    color: $blue-color;
}
.grey-color {
    color: $grey-color;
}
.white-color {
    color: #fff;
}